/* Reset and global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure the header is above other elements */
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('../img/hero-background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.hero-content .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-content .button:hover {
    background-color: #555;
}

/* Main Section */
.main {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px); /* Adjust for header height */
    margin-top: 80px; /* Adjust for header height */
}

.section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.3s ease;
}

.section1 {
    background: url('../img/monumentamain.jpg') no-repeat center center/cover;
}

.section2 {
    background: url('../img/bludshotmain.jpg') no-repeat center center/cover;
}

.section button {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.section button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.section1:hover {
    background: url('../img/monumentamain.gif') no-repeat center center/cover;
}

.section2:hover {
    background: url('../img/bludshotmain.gif') no-repeat center center/cover;
}
